<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDnMQbeydvUu34IjGC1kYgBcgmtrk4HOuc</string>
	<key>GCM_SENDER_ID</key>
	<string>795917205827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.macosUiApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>code-battle-8f4b3</string>
	<key>STORAGE_BUCKET</key>
	<string>code-battle-8f4b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795917205827:ios:81a5a7c36bbee2bd926ff6</string>
</dict>
</plist>